/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for
   you to simply add your own. This is a basic template
   after all.
   ---------------------------------------------------------*/
    body {

    }
    /* Default link styling */
    a:link { color:#0271fb; }
    a:visited { color:#bd02fb; }
    a:hover, a:focus { color:#000; }
    a:active { color:#fb0e02; }



/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
    body {
    background-color: #111111;
    color: cornsilk;
    }
.center-text {
    text-align: center;
}
#outer-wrapper {
    max-width: 400px;
    margin: auto;
    padding: 0px 20px 10px 20px;
    background-color: #595959;
    border-radius: 5px;
}
article.info-box {
    background-color: #898989;
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #393939;
    padding: 1em;
    margin: 10px 15px 10px 15px;
    display: block;
    overflow: auto;
}
div.title h1 {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 0;
}
span#myCity, h2{
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0em;
}

#curr_temp_left, #curr_temp_right, span#degr, #unit {
    font-family: 'LCDBOLD';
    text-shadow: 1px 1px 2px black;
}
#curr_temp_left {
    font-size: 6em;
}
#curr_temp_left::after {

}
#curr_temp_right {
    font-size: 2em;
    position: relative;
    left: -1.1em;
}
span#degr {
    font-size: 2em;
    position: relative;
    top: -1.6em;
    left: .05em;
    color: #111;
}
span#unit {
    font-size: 2em;
    position: relative;
    top: -1.5em;
    left: 0.05em;
    color: black;
}
.left {
    width: 50%;
    float: left;
}
.right {
    width: 50%;
    margin-left: 50%;
}
footer {
    text-align: center;
    font-size: .75em;
}
#buttonBox button {
    box-shadow: 1px 1px 2px #696969;
}
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: "afterHREF (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure {
        margin-bottom:1em;
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}
/* -------------------------------------------------------------
   Typeface styles
--------------------------------------------------------------*/
@font-face {
	font-family: 'LCDBOLD';
	src: url('./fonts/LCDBOLD.eot');
	src: local('LCDBOLD'), url('./fonts/LCDBOLD.woff') format('woff'), url('./fontsLCDBOLD.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_523">Text with this font applied</p> */
.fontsforweb_fontid_523 {
	font-family: 'LCDBOLD' !important;
}

/* Font downloaded from FontsForWeb.com */
